<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    ** brief AUTOSAR Os_TS_T19D1M6I0R0_AS403 plugin
    ** project AUTOSAR Standard Core
    **
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->

  <!-- this is the DER_AS403 wrapper plugin; the sources are stored in the
       Os_TS_T19D1M6I0R0_AS403 plugin -->

  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Os_TS_T19D1M6I0R0_AS403_ModuleId"
             name="Os_TS_T19D1M6I0R0_AS403 Module">

    <module id="Os_TS_T19D1M6I0R0_AS403"
            label="Os"
            mandatory="false"
            allowMultiple="false"
            description="EBtresosAutoCore: AUTOSAR Os module"
            copyright="(c) 1998-2020 Elektrobit Automotive GmbH"
            swVersionMajor="6"
            swVersionMinor="0"
            swVersionPatch="302"
            swVersionSuffix="0000"
            specVersionMajor="5"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="Os"
            categoryLayer="System Services"
            categoryCategory="OS/RTE"
            categoryComponent="ECUC">

      <ecuType target="WINDOWS" derivate="WIN32X86"/>


      <cluster name="Basic Services"/>
      <cluster name="OS/RTE"/>
      


    </module>
  </extension>


  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Os_TS_T19D1M6I0R0_AS403_ConfigId"
             name="Os_TS_T19D1M6I0R0_AS403 Configuration">
    <configuration moduleId="Os_TS_T19D1M6I0R0_AS403">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager">
          <parameter name="include" value="data/OIL"/>
        </manager>
        <resource value="config/Os.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_T19D1M6I0R0_AS403/Os"/>
      </data>

      <editor id="Os_TS_T19D1M6I0R0_AS403_EditorId"
              label="Default"
              tooltip="EBtresosAutoCore: AUTOSAR Os module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_T19D1M6I0R0_AS403/Os"/>
          <parameter name="title" value="Os"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension id="asc_Os_TS_T19D1M6I0R0_AS403_generator"
             name="Os TS_T19D1M6I0R0_AS403 Generator"
             point="dreisoft.tresos.generator.api.plugin.generator">

      <generator class="eb.Os.Generator.Launcher"
              id="asc_Os.generator_TS_T19D1M6I0R0_AS403"
              moduleId="Os_TS_T19D1M6I0R0_AS403">

      <parameter name="os_target" value="WINDOWS"/>
      <parameter name="os_derivat" value="WIN32X86"/>
    </generator>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Os_TS_T19D1M6I0R0_AS403_SWCD_GeneratorId"
              name="Os_TS_T19D1M6I0R0_AS403 SWCD Generator">
    <generator moduleId="Os_TS_T19D1M6I0R0_AS403"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="asc_Os.SWCD_generator_TS_T19D1M6I0R0_AS403">


      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>

      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>

      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>

    </generator>
  </extension>


   <extension id="Os_TS_T19D1M6I0R0_AS403LegacyId"
              name="Os TS_T19D1M6I0R0_AS403 Legacy"
              point="dreisoft.tresos.launcher2.plugin.legacyhandler">
       <legacyhandler prio="10">
          <handler class="dreisoft.tresos.oilparser.OilLegacyHandler"
               plugin="dreisoft.tresos.oilparser.plugin">
              <parameter name="target" value="WINDOWS"/>
              <parameter name="derivate" value="WIN32X86"/>
              <parameter name="variant" value="TS_T19D1M6I0R0_AS403"/>
              <parameter name="moduleId" value="Os_TS_T19D1M6I0R0_AS403"/>
              <parameter name="include" value="data/OIL"/>
              <parameter name="package" value="Os"/>
              <parameter name="config" value="Os"/>
              <parameter name="oilversion" value="31"/>
              <parameter
                    name="generaltranslatorfile"
                    value="data/OIL/translator.txt"/>
              <parameter
                    name="archtranslatorfile"
                    value="data/OIL/translatorWINDOWS.txt"/>
          </handler>
       </legacyhandler>
   </extension>


</plugin>