<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR Tm_TS_TxDxM1I0R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Tm_TS_TxDxM1I0R0_ModuleId"
             name="Tm_TS_TxDxM1I0R0 Module">
    <module id="Tm_TS_TxDxM1I0R0"
            label="Tm"
            mandatory="false"
            allowMultiple="false"
            description="ACG-Base: AUTOSAR Tm module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="4"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="4"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="4"
            relVersionPatch="0"
            categoryType="Tm"
            categoryLayer="System Services"
            categoryCategory="Services"
            categoryComponent="ECUC">
      <cluster name="Basic Services"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Tm_TS_TxDxM1I0R0_ConfigId"
             name="Tm_TS_TxDxM1I0R0 Configuration">
    <configuration moduleId="Tm_TS_TxDxM1I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Tm.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I0R0/Tm"/>
      </data>

      <editor id="Tm_TS_TxDxM1I0R0_EditorId"
              label="Default"
              tooltip="ACG-Base: AUTOSAR Tm module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I0R0/Tm"/>
          <parameter name="title" value="Tm"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Tm_TS_TxDxM1I0R0_GeneratorId"
             name="Tm_TS_TxDxM1I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Tm_TS_TxDxM1I0R0_TemplateBasedCodeGeneratorId"
               moduleId="Tm_TS_TxDxM1I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
</plugin>

