<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR CryIf_TS_TxDxM1I0R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="CryIf_TS_TxDxM1I0R0_ModuleId"
             name="CryIf_TS_TxDxM1I0R0 Module">
    <module id="CryIf_TS_TxDxM1I0R0"
            label="CryIf"
            mandatory="false"
            allowMultiple="false"
            description="ACG-CSMCRYIF: Crypto Interface"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="24"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="3"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="3"
            relVersionPatch="0"
            categoryType="CryIf"
            categoryLayer="Crypto HW Abstraction"
            categoryCategory="System Services"
            categoryComponent="ECUC">
      <cluster name="Crypto"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="CryIf_TS_TxDxM1I0R0_ConfigId"
             name="CryIf_TS_TxDxM1I0R0 Configuration">
    <configuration moduleId="CryIf_TS_TxDxM1I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/CryIf.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I0R0/CryIf"/>
      </data>

      <editor id="CryIf_TS_TxDxM1I0R0_EditorId"
              label="Default"
              tooltip="ACG-CSMCRYIF: Crypto Interface">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I0R0/CryIf"/>
          <parameter name="title" value="CryIf"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="CryIf_TS_TxDxM1I0R0_GeneratorId"
             name="CryIf_TS_TxDxM1I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="CryIf_TS_TxDxM1I0R0_TemplateBasedCodeGeneratorId"
               moduleId="CryIf_TS_TxDxM1I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
  <!-- handle id calculator for CryIfChannelId -->
  <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CryIfChannelId_CryIf_TS_TxDxM1I0R0" name="CryIf/CryIfChannelId" desc="">
      <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
        <parameter name="moduleId"  value="CryIf_TS_TxDxM1I0R0"/>
        <parameter name="listPath"  value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/CryIf/CryIfChannel"/>
        <parameter name="idPath"    value="CryIfChannelId"/>
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
          </with>
          <with variable="moduleId.CryIf_TS_TxDxM1I0R0">
            <equals value="true"/>
          </with>
          <with variable="relVersion">
            <equals value="4.3"/>
          </with>
        </and>
      </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for CryIfKeyId -->
  <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CryIfKeyId_CryIf_TS_TxDxM1I0R0" name="CryIf/CryIfKeyId" desc="">
      <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
        <parameter name="moduleId"  value="CryIf_TS_TxDxM1I0R0"/>
        <parameter name="listPath"  value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/CryIf/CryIfKey"/>
        <parameter name="idPath"    value="CryIfKeyId"/>
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
          </with>
          <with variable="moduleId.CryIf_TS_TxDxM1I0R0">
            <equals value="true"/>
          </with>
          <with variable="relVersion">
            <equals value="4.3"/>
          </with>
        </and>
      </event>
    </pushoperation>
  </extension>
</plugin>


