<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    PRODUCT VARIANT
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  -->

  <extension
        point="dreisoft.tresos.application.core.plugin.customization">
     <customization
           applications="dreisoft.tresos.application.launcher2.plugin.ApplicationTresosGUI"
           id="plugin.customization.autocore.plugin.variantCustomization">
                <configuration>
                   <property name="workflowId" value="ACGWorkflowRte"/>
                </configuration>
     </customization>
  </extension>
</plugin>  
