<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
     + Copyright (C) Elektrobit
     + All rights reserved
     +
     + NAME: plugin.xml
     +
     + $Id$
     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  -->

	<extension point="dreisoft.tresos.generator.api.plugin.generator"
		id="ComXf_TS_TxDxM1I0R0_GeneratorExt">
		<generator id="ComXf_TS_TxDxM1I0R0_Generator"
			moduleId="ComXf_TS_TxDxM1I0R0"
			class="eb.tresos.comxf.generator.ComXfGenerator">
		</generator>
	</extension>

</plugin>
