<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
    ** brief AutoCore FrArTp_TS_TxDxM1I0R0 plugin
    **
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->
    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="FrArTp_TS_TxDxM1I0R0_ModuleId"
             name="FrArTp_TS_TxDxM1I0R0 Module">
    <module id="FrArTp_TS_TxDxM1I0R0"
            label="FrArTp"
            mandatory="false"
            allowMultiple="false"
            description="ACG-FlexRayStack: FlexRay AUTOSAR Transport Protocol"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="8"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="2"
            specVersionPatch="2"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="2"
            relVersionPatch="2"
            categoryType="FrArTp"
            categoryLayer="Communication Services"
            categoryCategory="FlexRay"
            categoryComponent="ECUC">
      <cluster name="FlexRay Stack"/>
    </module>
  </extension>


  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="FrArTp_TS_TxDxM1I0R0_ConfigId"
             name="FrArTp_TS_TxDxM1I0R0 Configuration">
    <configuration moduleId="FrArTp_TS_TxDxM1I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/FrArTp.xdm" type="xdm" id="res_default"/>


      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I0R0/FrArTp"/>
      </data>

      <editor id="FrArTp_TS_TxDxM1I0R0_EditorId"
              label="Default"
              tooltip="ACG-FlexRayStack: FlexRay AUTOSAR Transport Protocol">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I0R0/FrArTp"/>
          <parameter name="title" value="FrArTp"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>


    <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_FrArTp_TS_TxDxM1I0R0"
           moduleId="FrArTp_TS_TxDxM1I0R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.FrArTpTransformer">
      </transformer>
    </comtransformer>
  </extension>




    <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_FrArTp_TS_TxDxM1I0R0"
        name="FrArTp service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="FrArTp" />
        <parameter name="req://schm.mainFunctions:1" value="resources/FrArTp_SchM_MainFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.FrArTp_TS_TxDxM1I0R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.2" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>



    <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="FrArTp_TS_TxDxM1I0R0_GeneratorId"
             name="FrArTp_TS_TxDxM1I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="FrArTp_TS_TxDxM1I0R0_TemplateBasedCodeGeneratorId"
               moduleId="FrArTp_TS_TxDxM1I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>



    <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="FrArTp_TS_TxDxM1I0R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>



  <!-- handle id calculator for FrArTpTxSdu -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="FrArTpTxSdu_FrArTp_TS_TxDxM1I0R0"
    name="FrArTp/FrArTpTxSdu"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="FrArTp_TS_TxDxM1I0R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/FrArTp/FrArTpMultipleConfig/FrArTpChannel/FrArTpChannel/FrArTpConnection"/>
            <parameter name="idPath" value="FrArTpTxSdu/FrArTpSduTxId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.FrArTp_TS_TxDxM1I0R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
               <equals value="4.2"/>
            </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for FrArTpRxSdu -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="FrArTpRxSdu_FrArTp_TS_TxDxM1I0R0"
    name="FrArTp/FrArTpRxSdu"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="FrArTp_TS_TxDxM1I0R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/FrArTp/FrArTpMultipleConfig/FrArTpChannel/FrArTpChannel/FrArTpConnection"/>
            <parameter name="idPath" value="FrArTpRxSdu/FrArTpSduRxId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.FrArTp_TS_TxDxM1I0R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
               <equals value="4.2"/>
            </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for FrArTpPdu_Tx -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="FrArTpPdu_Tx_FrArTp_TS_TxDxM1I0R0"
    name="FrArTp/FrArTpPdu_Tx"
    desc="">
        <operationclass class="dreisoft.tresos.hidwiz.api.asr40.FrArTpNPduHandleIdPushOperation">
            <parameter name="moduleId" value="FrArTp_TS_TxDxM1I0R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/FrArTp/FrArTpMultipleConfig/FrArTpChannel/FrArTpChannel/FrArTpPdu/FrArTpPdu"/>
            <parameter name="idPath" value="FrArTpPduId"/>
            <parameter name="filterPath" value="FrArTpPduDirection"/>
            <parameter name="filterValues" value="FRARTP_TX"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.FrArTp_TS_TxDxM1I0R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
               <equals value="4.2"/>
            </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for FrArTpPdu_Rx -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="FrArTpPdu_Rx_FrArTp_TS_TxDxM1I0R0"
    name="FrArTp/FrArTpPdu_Rx"
    desc="">
        <operationclass class="dreisoft.tresos.hidwiz.api.asr40.FrArTpNPduHandleIdPushOperation">
            <parameter name="moduleId" value="FrArTp_TS_TxDxM1I0R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I0R0/ELEMENTS/FrArTp/FrArTpMultipleConfig/FrArTpChannel/FrArTpChannel/FrArTpPdu/FrArTpPdu"/>
            <parameter name="idPath" value="FrArTpPduId"/>
            <parameter name="filterPath" value="FrArTpPduDirection"/>
            <parameter name="filterValues" value="FRARTP_RX"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.FrArTp_TS_TxDxM1I0R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
               <equals value="4.2"/>
            </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  </plugin>
