<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
    ** \brief AUTOSAR Com_TS_TxDxM6I3R0 plugin
    ** \project AUTOSAR Standard Core
    ** \file plugin.xdm
    **
    ** Copyright 2007 by Elektrobit Automotive GmbH
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Com_TS_TxDxM6I3R0_ModuleId"
             name="Com_TS_TxDxM6I3R0 Module">
    <module id="Com_TS_TxDxM6I3R0"
            label="Com"
            mandatory="false"
            allowMultiple="false"
            description="ACG-ComServices: AUTOSAR Com Module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="6"
            swVersionMinor="3"
            swVersionPatch="50"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="2"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="Com"
            categoryLayer="Communication Services"
            categoryCategory="Com Services"
            categoryComponent="ECUC">
          </module>
  </extension>


  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Com_TS_TxDxM6I3R0_ConfigId"
             name="Com_TS_TxDxM6I3R0 Configuration">
    <configuration moduleId="Com_TS_TxDxM6I3R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Com.xdm" type="xdm" id="res_default"/>

        <!-- register the recommended configuration ComRecConfigurationMax -->
        <resource value="config_ext/ComRecConfigurationMax.xdm" type="xdm" id="res_ComRecConfigurationMax"/>
        <recconfig
          name="ComRecConfigurationMax"
          default="false"
          description="All Autosar and EB specific extension are enabled"
          resourceId="res_ComRecConfigurationMax"
          path="ASPath:/TS_TxDxM6I3R0/ComRecConfigurationMax"/>

        <!-- register the recommended configuration ComRecConfigurationMedium -->
        <resource value="config_ext/ComRecConfigurationMedium.xdm" type="xdm" id="res_ComRecConfigurationMedium"/>
        <recconfig
          name="ComRecConfigurationMedium"
          default="false"
          description="Many Autosar features are disabled"
          resourceId="res_ComRecConfigurationMedium"
          path="ASPath:/TS_TxDxM6I3R0/ComRecConfigurationMedium"/>

        <!-- register the recommended configuration ComRecConfigurationSmall -->
        <resource value="config_ext/ComRecConfigurationSmall.xdm" type="xdm" id="res_ComRecConfigurationSmall"/>
        <recconfig
          name="ComRecConfigurationSmall"
          default="false"
          description="Many Autosar features are disabled; number of signals is limited to 254"
          resourceId="res_ComRecConfigurationSmall"
          path="ASPath:/TS_TxDxM6I3R0/ComRecConfigurationSmall"/>

        <!-- register the recommended configuration ComRecConfigurationStandard -->
        <resource value="config_ext/ComRecConfigurationStandard.xdm" type="xdm" id="res_ComRecConfigurationStandard"/>
        <recconfig
          name="ComRecConfigurationStandard"
          default="true"
          description="Standard recommended configuration: All Autosar features are enabled"
          resourceId="res_ComRecConfigurationStandard"
          path="ASPath:/TS_TxDxM6I3R0/ComRecConfigurationStandard"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM6I3R0/Com"/>
      </data>

      <editor id="Com_TS_TxDxM6I3R0_EditorId"
              label="Default"
              tooltip="ACG-ComServices: AUTOSAR Com Module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM6I3R0/Com"/>
          <parameter name="title" value="Com"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>




    <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_Com_TS_TxDxM6I3R0"
           moduleId="Com_TS_TxDxM6I3R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.ComTransformer">
      </transformer>
    </comtransformer>
  </extension>





    <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_Com_TS_TxDxM6I3R0"
        name="Com service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="Com" />
        <parameter name="req://schm.mainFunctions:1" value="resources/Com_SchM_MainFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.Com_TS_TxDxM6I3R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.0" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>




    <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="Com_TS_TxDxM6I3R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>



<!--
Cannot use the "normal" fragment (i.e., plugin_xml_fragments/plugin_ext_generator.xml.m4) here, since Com does not make use of the
template-based generator engine for generating the "normal" modules config
=> need to inline the respective parts of the fragment
-->

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Com_TS_TxDxM6I3R0_SWCDGeneratorId"
              name="Com_TS_TxDxM6I3R0 SWCD Generator">
    <generator moduleId="Com_TS_TxDxM6I3R0"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">


      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>

      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>

      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>

    </generator>
  </extension>


  <!-- handle id calculator for ComIPduGroupHandleId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComIPduGroupHandleId_Com_TS_TxDxM6I3R0"
    name="Com/ComIPduGroupHandleId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com/ComConfig/ComConfig/ComIPduGroup"/>
            <parameter name="idPath" value="ComIPduGroupHandleId"/>
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>


  <!-- handle id calculator for ComIPduHandleId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComIPduHandleId_RxIPdu_Com_TS_TxDxM6I3R0"
    name="Com/ComIPduHandleId (Rx Pdus)"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com/ComConfig/ComConfig/ComIPdu"/>
            <parameter name="idPath" value="ComIPduHandleId"/>
            <parameter name="groupBy" value="ComIPduDirection"/>
            <parameter name="ignore" value="~^$,SEND"/> <!-- "~^$" means: empty value -->
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComIPduHandleId_TxIPdu_Com_TS_TxDxM6I3R0"
    name="Com/ComIPduHandleId (Tx Pdus)"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com/ComConfig/ComConfig/ComIPdu"/>
            <parameter name="idPath" value="ComIPduHandleId"/>
            <parameter name="groupBy" value="ComIPduDirection"/>
            <parameter name="ignore" value="~^$,RECEIVE"/> <!-- "~^$" means: empty value -->
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                   <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for ComIPduHandleId for Tx IPdus sorterd for optimized sending via Can -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComIPduHandleId_TxIPdu_PrioSortCom_TS_TxDxM6I3R0"
    name="Com/ComIPduHandleId (Tx Pdus sorted according to Can priority)"
    desc=""
    order="250">
        <operationclass class="dreisoft.tresos.hidwiz.api.asr40.ComTxPduHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com/ComConfig/ComConfig/ComIPdu"/>
            <parameter name="idPath" value="ComIPduHandleId"/>
            <parameter name="groupBy" value="ComIPduDirection"/>
            <parameter name="ignore" value="~^$,RECEIVE"/> <!-- "~^$" means: empty value -->
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                   <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>


<!-- handle id calculator for Com(Signal)HandleId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComHandleId_RxSignalAndGroupSignal_Com_TS_TxDxM6I3R0"
    name="Com/ComHandleId (Rx Signals and GroupSignals)"
    desc="">
        <operationclass class="dreisoft.tresos.com.pushservice.operations.handleid.ComSignalHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="modulePath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com"/>
            <parameter name="entityType" value="signalAndGroupSignal"/>
            <parameter name="directionType" value="rx"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                   <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComHandleId_TxSignalAndGroupSignalCom_TS_TxDxM6I3R0"
    name="Com/ComHandleId (Tx Signals and GroupSignals)"
    desc="">
        <operationclass class="dreisoft.tresos.com.pushservice.operations.handleid.ComSignalHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="modulePath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com"/>
            <parameter name="entityType" value="signalAndGroupSignal"/>
            <parameter name="directionType" value="tx"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                   <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for Com(SignalGroup)HandleId -->

  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComHandleId_RxSignalGroupCom_TS_TxDxM6I3R0"
    name="Com/ComHandleId (Rx SignalGroups)"
    desc="">
        <operationclass class="dreisoft.tresos.com.pushservice.operations.handleid.ComSignalHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="modulePath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com"/>
            <parameter name="entityType" value="signalGroup"/>
            <parameter name="directionType" value="rx"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                   <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="ComHandleId_TxSignalGroupCom_TS_TxDxM6I3R0"
    name="Com/ComHandleId (Tx SignalGroups)"
    desc="">
        <operationclass class="dreisoft.tresos.com.pushservice.operations.handleid.ComSignalHandleIdPushOperation">
            <parameter name="moduleId" value="Com_TS_TxDxM6I3R0"/>
            <parameter name="modulePath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I3R0/ELEMENTS/Com"/>
            <parameter name="entityType" value="signalGroup"/>
            <parameter name="directionType" value="tx"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.Com_TS_TxDxM6I3R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                    <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

</plugin>
