<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
    ** \brief AUTOSAR TcpIp_TS_TxDxM3I5R0 plugin
    ** \project AUTOSAR Standard Core
    ** \file plugin.xdm
    **
    ** Copyright 2010 by Elektrobit Automotive GmbH
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->

  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="TcpIp_TS_TxDxM3I5R0_ModuleId"
             name="TcpIp_TS_TxDxM3I5R0 Module">
    <module id="TcpIp_TS_TxDxM3I5R0"
            label="TcpIp"
            mandatory="false"
            allowMultiple="false"
            description="ACG-IPStack: AUTOSAR TcpIp module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="3"
            swVersionMinor="5"
            swVersionPatch="13"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="3"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="3"
            relVersionPatch="0"
            categoryType="TcpIp"
            categoryLayer="Communication Services"
            categoryCategory="Communication"
            categoryComponent="ECUC">
      <cluster name="Ethernet Stack"/>
    </module>
  </extension>


  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="TcpIp_TS_TxDxM3I5R0_ConfigId"
             name="TcpIp_TS_TxDxM3I5R0 Configuration">
    <configuration moduleId="TcpIp_TS_TxDxM3I5R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/TcpIp.xdm" type="xdm" id="res_default"/>

        <!-- register the recommended configuration TcpIpRecConfiguration -->
        <resource value="config_ext/TcpIpRecConfiguration.xdm" type="xdm" id="res_TcpIpRecConfiguration"/>
        <recconfig
          name="TcpIpRecConfiguration"
          default="true"
          description="Socket owner and generic upper layer functions set to Soad"
          resourceId="res_TcpIpRecConfiguration"
          path="ASPath:/TS_TxDxM3I5R0/TcpIpRecConfiguration"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM3I5R0/TcpIp"/>
      </data>

      <editor id="TcpIp_TS_TxDxM3I5R0_EditorId"
              label="Default"
              tooltip="ACG-IPStack: AUTOSAR TcpIp module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM3I5R0/TcpIp"/>
          <parameter name="title" value="TcpIp"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>




    <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_TcpIp_TS_TxDxM3I5R0"
           moduleId="TcpIp_TS_TxDxM3I5R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.TcpIpTransformer">
      </transformer>
    </comtransformer>
  </extension>




    <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="TcpIp_TS_TxDxM3I5R0_GeneratorId"
             name="TcpIp_TS_TxDxM3I5R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="TcpIp_TS_TxDxM3I5R0_TemplateBasedCodeGeneratorId"
               moduleId="TcpIp_TS_TxDxM3I5R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate,generate_macros"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>



    <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_TcpIp_TS_TxDxM3I5R0"
        name="TcpIp service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="TcpIp" />
        <parameter name="req://nvm.blocks:1" value="resources/TcpIp_NvM_Blocks.xml" />
        <parameter name="req://schm.mainFunctions:1" value="resources/TcpIp_SchM_MainFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.TcpIp_TS_TxDxM3I5R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.3" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>



<!-- handle id calculator for TcpIpAddrId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="TcpIpAddrId_TcpIp_TS_TxDxM3I5R0"
    name="TcpIp/TcpIpAddrId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="TcpIp_TS_TxDxM3I5R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM3I5R0/ELEMENTS/TcpIp/TcpIpConfig/TcpIpLocalAddr/"/>
            <parameter name="idPath" value="TcpIpAddrId"/>
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.TcpIp_TS_TxDxM3I5R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.3"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

<!-- handle id calculator for TcpIpIpSecConId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="TcpIpIpSecConId_TcpIp_TS_TxDxM3I5R0"
    name="TcpIp/TcpIpIpSecConId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="TcpIp_TS_TxDxM3I5R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM3I5R0/ELEMENTS/TcpIp/TcpIpConfig/TcpIpIpSecConfig/TcpIpIpSecConnections/"/>
            <parameter name="idPath" value="TcpIpIpSecConId"/>
            <parameter name="zbcGroups" value="true"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.TcpIp_TS_TxDxM3I5R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.3"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

    <!-- Generator used to generate all code-templates within a directory the code-templates do all have access to the
       name of the generated variant but the name of the generated file cannot be influenced directly - if required,
       renaming a file can e.g. be done by a script run as post-generator
    -->
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="TcpIp_TS_TxDxM3I5R0_Gen_Template">
    <generator moduleId="TcpIp_TS_TxDxM3I5R0"
               id="TcpIp_TS_TxDxM3I5R0_Gen_TemplateId"
               modes="generate,Template_withPostRename"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
      <parameter name="mode_type" mode="Template_withPostRename" value="generate"/>

      <!-- common template path parameters -->
      <parameter name="templates" mode="generate,verify" value="generate_var,generate_macros"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>

    </generator>
  </extension>

  <!-- NGGenerator which calls a common ant-script within the ant-script it is also possible to call tresos Studio
       generators in the example-script, a single code-template file is generated with a custom file-name (depending
       on the variants name)
    -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
    id="TcpIp_TS_TxDxM3I5R0_Gen_NG">
  <generator class="dreisoft.tresos.generator.ng.api.NGGenerator"
    id="TcpIp_TS_TxDxM3I5R0_Gen_NGId"
    moduleId="TcpIp_TS_TxDxM3I5R0"
    modes="generate,NG_PostfixAndMove"
    step="post">

    <!-- Specify the ant build script as parameter to the NGGenerator. -->
    <parameter name="buildfile" value="resources/generator.xml"/>

    <!-- only having this parameter set to true, a generator is called once for each variant! -->
    <parameter name="variantAware" value="true"/>
  </generator>
  </extension>

</plugin>
