<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
  <!--
    ** brief AUTOSAR Can_TS_T19D1M3I1R0 plugin
    ** project AUTOSAR Standard Core
    **
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->
    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Can_TS_T19D1M3I1R0_ModuleId"
             name="Can_TS_T19D1M3I1R0 Module">
    <module id="Can_TS_T19D1M3I1R0"
            label="Can"
            mandatory="false"
            allowMultiple="false"
            description="WinCore-MCAL: AUTOSAR Can module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="3"
            swVersionMinor="1"
            swVersionPatch="4"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="Can"
            categoryLayer="Communication Drivers"
            categoryCategory="CAN"
            categoryComponent="ECUC">
      <ecuType target="WINDOWS" derivate="WIN32X86"/>
      <cluster name="Can Stack"/>
    </module>
  </extension>

  
  
  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Can_TS_T19D1M3I1R0_ConfigId"
             name="Can_TS_T19D1M3I1R0 Configuration">
    <configuration moduleId="Can_TS_T19D1M3I1R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Can.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_T19D1M3I1R0/Can"/>
      </data>

      <editor id="Can_TS_T19D1M3I1R0_EditorId"
              label="Default"
              tooltip="WinCore-MCAL: AUTOSAR Can module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_T19D1M3I1R0/Can"/>
          <parameter name="title" value="Can"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>



    <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Can_TS_T19D1M3I1R0_GeneratorId"
             name="Can_TS_T19D1M3I1R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Can_TS_T19D1M3I1R0_TemplateBasedCodeGeneratorId"
               moduleId="Can_TS_T19D1M3I1R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>


    <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_Can_TS_T19D1M3I1R0"
           moduleId="Can_TS_T19D1M3I1R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.CanTransformer">
      </transformer>
    </comtransformer>
  </extension>



    <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_Can_TS_T19D1M3I1R0"
        name="Can service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="Can" />
        <parameter name="req://os.isrs:1" value="resources/Can_Os_Isrs.xml" />
        <parameter name="req://schm.mainFunctions:1" value="resources/Can_SchM_MainFunctions.xml" />
        <parameter name="req://schm.exclusiveAreas:1" value="resources/Can_SchM_ExclusiveAreas.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.Can_TS_T19D1M3I1R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.0" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>



<!-- handle id calculator for CanObjectId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CanObjectId_Can_TS_T19D1M3I1R0"
    name="Can/CanObjectId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="Can_TS_T19D1M3I1R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_T19D1M3I1R0/ELEMENTS/Can/CanConfigSet/CanConfigSet/CanHardwareObject/CanHardwareObject/"/>
            <parameter name="idPath" value="CanObjectId"/>
            <parameter name="groupBy" value="CanObjectType"/>
            <parameter name="sortOrder" value="RECEIVE,TRANSMIT"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="target">
                    <equals value="WINDOWS"/>
                </with>
                <with variable="moduleId.Can_TS_T19D1M3I1R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
          <equals value="4.0"/>
          </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <extension point="org.eclipse.help.toc">
      <toc file="anchors.xml" primary="true"/>
      <toc file="anchors_wincore.xml" primary="true"/>
  </extension>

</plugin>

