<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR Mcu_TS_T0D1M4I0R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Mcu_TS_T0D1M4I0R0_ModuleId"
             name="Mcu_TS_T0D1M4I0R0 Module">
    <module id="Mcu_TS_T0D1M4I0R0"
            label="Mcu"
            mandatory="false"
            allowMultiple="false"
            description="ACG-Stubs: AUTOSAR config stub to replace Mcu module in tests"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="4"
            swVersionMinor="0"
            swVersionPatch="3"
            swVersionSuffix="B439717"
            specVersionMajor="0"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="Mcu"
            categoryLayer="Stub"
            categoryCategory="Stub"
            categoryComponent="ECUC">
      <cluster name="Stubs"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Mcu_TS_T0D1M4I0R0_ConfigId"
             name="Mcu_TS_T0D1M4I0R0 Configuration">
    <configuration moduleId="Mcu_TS_T0D1M4I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Mcu.xdm" type="xdm" id="res_default"/>

        <!-- register the pre-configuration McuPreConfigurationDflt -->
        <resource value="config_ext/McuPreConfigurationDflt.xdm" type="xdm" id="res_McuPreConfigurationDflt"/>
        <preconfig
          name="McuPreConfigurationDflt"
          default="true"
          description="Mcu pre-configuration"
          resourceId="res_McuPreConfigurationDflt"
          path="ASPath:/TS_T0D1M4I0R0/McuPreConfigurationDflt"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_T0D1M4I0R0/Mcu"/>
      </data>

      <editor id="Mcu_TS_T0D1M4I0R0_EditorId"
              label="Default"
              tooltip="ACG-Stubs: AUTOSAR config stub to replace Mcu module in tests">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_T0D1M4I0R0/Mcu"/>
          <parameter name="title" value="Mcu"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Mcu_TS_T0D1M4I0R0_GeneratorId"
             name="Mcu_TS_T0D1M4I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Mcu_TS_T0D1M4I0R0_TemplateBasedCodeGeneratorId"
               moduleId="Mcu_TS_T0D1M4I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>
    </generator>
  </extension>
</plugin>
