<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR Dlt_TS_TxDxM1I8R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Dlt_TS_TxDxM1I8R0_ModuleId"
             name="Dlt_TS_TxDxM1I8R0 Module">
    <module id="Dlt_TS_TxDxM1I8R0"
            label="Dlt"
            mandatory="false"
            allowMultiple="false"
            description="ACG-DLT: AUTOSAR Diagnostic Log and Trace module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="8"
            swVersionPatch="6"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="2"
            specVersionPatch="1"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="2"
            relVersionPatch="1"
            categoryType="Dlt"
            categoryLayer="System Services"
            categoryCategory="Diagnostic"
            categoryComponent="ECUC">
      <cluster name="Diagnostic"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Dlt_TS_TxDxM1I8R0_ConfigId"
             name="Dlt_TS_TxDxM1I8R0 Configuration">
    <configuration moduleId="Dlt_TS_TxDxM1I8R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Dlt.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I8R0/Dlt"/>
      </data>

      <editor id="Dlt_TS_TxDxM1I8R0_EditorId"
              label="Default"
              tooltip="ACG-DLT: AUTOSAR Diagnostic Log and Trace module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I8R0/Dlt"/>
          <parameter name="title" value="Dlt"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Dlt_TS_TxDxM1I8R0_GeneratorId"
             name="Dlt_TS_TxDxM1I8R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Dlt_TS_TxDxM1I8R0_TemplateBasedCodeGeneratorId"
               moduleId="Dlt_TS_TxDxM1I8R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
  <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_Dlt_TS_TxDxM1I8R0"
        name="Dlt service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="Dlt" />
        <parameter name="req://nvm.blocks:1" value="resources/Dlt_NvM_Blocks.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.Dlt_TS_TxDxM1I8R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.2" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>
  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="Dlt_TS_TxDxM1I8R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>
</plugin>
