<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
    AUTOSAR CanTp_TS_TxDxM6I8R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->

    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="CanTp_TS_TxDxM6I8R0_ModuleId"
             name="CanTp_TS_TxDxM6I8R0 Module">
    <module id="CanTp_TS_TxDxM6I8R0"
            label="CanTp"
            mandatory="false"
            allowMultiple="false"
            description="ACG-CANStack: AUTOSAR CanTp module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="6"
            swVersionMinor="8"
            swVersionPatch="42"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="CanTp"
            categoryLayer="Communication Services"
            categoryCategory="CAN"
            categoryComponent="ECUC">
      <cluster name="Can Stack"/>
    </module>
  </extension>


  
  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="CanTp_TS_TxDxM6I8R0_ConfigId"
             name="CanTp_TS_TxDxM6I8R0 Configuration">
    <configuration moduleId="CanTp_TS_TxDxM6I8R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/CanTp.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM6I8R0/CanTp"/>
      </data>

      <editor id="CanTp_TS_TxDxM6I8R0_EditorId"
              label="Default"
              tooltip="ACG-CANStack: AUTOSAR CanTp module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM6I8R0/CanTp"/>
          <parameter name="title" value="CanTp"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>




    <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_CanTp_TS_TxDxM6I8R0"
           moduleId="CanTp_TS_TxDxM6I8R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.CanTpTransformer">
      </transformer>
    </comtransformer>
  </extension>




    <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="CanTp_TS_TxDxM6I8R0_GeneratorId"
             name="CanTp_TS_TxDxM6I8R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="CanTp_TS_TxDxM6I8R0_TemplateBasedCodeGeneratorId"
               moduleId="CanTp_TS_TxDxM6I8R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate,generate_macros"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>



    <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_CanTp_TS_TxDxM6I8R0"
        name="CanTp service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="CanTp" />
        <parameter name="req://schm.mainFunctions:1" value="resources/CanTp_SchM_MainFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.CanTp_TS_TxDxM6I8R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.0" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>



    <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="CanTp_TS_TxDxM6I8R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>



  <!-- handle id calculator for CanTpTxNSduId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CanTpTxNSduId_CanTp_TS_TxDxM6I8R0"
    name="CanTp/CanTpTxNSduId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="CanTp_TS_TxDxM6I8R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I8R0/ELEMENTS/CanTp/CanTpConfig/CanTpConfig/CanTpChannel/CanTpChannel/CanTpTxNSdu/"/>
            <parameter name="idPath" value="CanTpTxNSduId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.CanTp_TS_TxDxM6I8R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for CanTpRxNSduId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CanTpRxNSduId_CanTp_TS_TxDxM6I8R0"
    name="CanTp/CanTpRxNSduId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="CanTp_TS_TxDxM6I8R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM6I8R0/ELEMENTS/CanTp/CanTpConfig/CanTpConfig/CanTpChannel/CanTpChannel/CanTpRxNSdu/"/>
            <parameter name="idPath" value="CanTpRxNSduId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.CanTp_TS_TxDxM6I8R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- handle id calculator for CanTpNPduId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="CanTpRxNPduId_CanTp_TS_TxDxM6I8R0"
    name="CanTp/CanTpNPduId"
    desc="">
        <operationclass class="dreisoft.tresos.hidwiz.api.asr40.CanTpNPduHandleIdPushOperation"/>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.CanTp_TS_TxDxM6I8R0">
                   <equals value="true"/>
                </with>
                <with variable="relVersion">
                  <equals value="4.0"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

  <!-- Generator used to generate all code-templates within a directory the code-templates do all have access to the
       name of the generated variant but the name of the generated file cannot be influenced directly - if required,
       renaming a file can e.g. be done by a script run as post-generator
    -->
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="CanTp_TS_TxDxM6I8R0_Gen_Template">
    <generator moduleId="CanTp_TS_TxDxM6I8R0"
               id="CanTp_TS_TxDxM6I8R0_Gen_TemplateId"
               modes="generate,Template_withPostRename,verify"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
      <parameter name="mode_type" mode="Template_withPostRename" value="generate"/>

      <!-- common template path parameters -->
      <parameter name="templates" mode="generate,verify" value="generate_var,generate_macros"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>

    </generator>
  </extension>

  <!-- NGGenerator which calls a common ant-script within the ant-script it is also possible to call tresos Studio
       generators in the example-script, a single code-template file is generated with a custom file-name (depending
       on the variants name)
    -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
    id="CanTp_TS_TxDxM6I8R0_Gen_NG">
  <generator class="dreisoft.tresos.generator.ng.api.NGGenerator"
    id="CanTp_TS_TxDxM6I8R0_Gen_NGId"
    moduleId="CanTp_TS_TxDxM6I8R0"
    modes="generate,NG_PostfixAndMove"
    step="post">

    <!-- Specify the ant build script as parameter to the NGGenerator. -->
    <parameter name="buildfile" value="resources/generator.xml"/>

    <!-- only having this parameter set to true, a generator is called once for each variant! -->
    <parameter name="variantAware" value="true"/>
  </generator>
  </extension>

</plugin>
