<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    ** brief AUTOSAR Os_TS_T19D1M6I0R0 plugin
    ** project AUTOSAR Standard Core
    **
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->

  <extension
    point="dreisoft.tresos.application.core.plugin.customization">
    <customization
      applications="dreisoft.tresos.application.launcher2.plugin.ApplicationTresosGUI"
      id="plugin.application.launcher2.customization1">
      <feature name="AutoCore OS" version="6.0"/>
    </customization>
  </extension>
</plugin>
