<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR StbM_TS_TxDxM3I1R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="StbM_TS_TxDxM3I1R0_ModuleId"
             name="StbM_TS_TxDxM3I1R0 Module">
    <module id="StbM_TS_TxDxM3I1R0"
            label="StbM"
            mandatory="false"
            allowMultiple="false"
            description="ACG-TimeSync: AUTOSAR StbM module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="3"
            swVersionMinor="1"
            swVersionPatch="7"
            swVersionSuffix="B439717"
            specVersionMajor="0"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="4"
            relVersionPatch="0"
            categoryType="StbM"
            categoryLayer="System Services"
            categoryCategory="Services"
            categoryComponent="ECUC">
      <cluster name="Services"/>
<cluster name="Time Sync"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="StbM_TS_TxDxM3I1R0_ConfigId"
             name="StbM_TS_TxDxM3I1R0 Configuration">
    <configuration moduleId="StbM_TS_TxDxM3I1R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/StbM.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM3I1R0/StbM"/>
      </data>

      <editor id="StbM_TS_TxDxM3I1R0_EditorId"
              label="Default"
              tooltip="ACG-TimeSync: AUTOSAR StbM module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM3I1R0/StbM"/>
          <parameter name="title" value="StbM"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_StbM_TS_TxDxM3I1R0"
           moduleId="StbM_TS_TxDxM3I1R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.StbMTransformer">
      </transformer>
    </comtransformer>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="StbM_TS_TxDxM3I1R0_GeneratorId"
             name="StbM_TS_TxDxM3I1R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="StbM_TS_TxDxM3I1R0_TemplateBasedCodeGeneratorId"
               moduleId="StbM_TS_TxDxM3I1R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
  <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_StbM_TS_TxDxM3I1R0"
        name="StbM service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="StbM" />
        <parameter name="req://nvm.blocks:1" value="resources/StbM_NvM_Blocks.xml" />
        <parameter name="req://schm.mainFunctions:1" value="resources/StbM_SchM_MainFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.StbM_TS_TxDxM3I1R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.4" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>
</plugin>
