<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR Mirror_TS_TxDxM1I0R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Mirror_TS_TxDxM1I0R0_ModuleId"
             name="Mirror_TS_TxDxM1I0R0 Module">
    <module id="Mirror_TS_TxDxM1I0R0"
            label="Mirror"
            mandatory="false"
            allowMultiple="false"
            description="ACG-ComServices: AUTOSAR Mirror module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="17"
            swVersionSuffix="B439717"
            specVersionMajor="4"
            specVersionMinor="3"
            specVersionPatch="1"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="3"
            relVersionPatch="1"
            categoryType="Mirror"
            categoryLayer="Communication Services"
            categoryCategory="Com Services"
            categoryComponent="ECUC">
      <cluster name="Com Stack"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Mirror_TS_TxDxM1I0R0_ConfigId"
             name="Mirror_TS_TxDxM1I0R0 Configuration">
    <configuration moduleId="Mirror_TS_TxDxM1I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Mirror.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I0R0/Mirror"/>
      </data>

      <editor id="Mirror_TS_TxDxM1I0R0_EditorId"
              label="Default"
              tooltip="ACG-ComServices: AUTOSAR Mirror module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I0R0/Mirror"/>
          <parameter name="title" value="Mirror"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Mirror_TS_TxDxM1I0R0_GeneratorId"
             name="Mirror_TS_TxDxM1I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Mirror_TS_TxDxM1I0R0_TemplateBasedCodeGeneratorId"
               moduleId="Mirror_TS_TxDxM1I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="Mirror_TS_TxDxM1I0R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>

  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true" />
    <toc file="$nl$/toc.xml" primary="false"/>
  </extension>

</plugin>

