<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR Det_TS_TxDxM6I5R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2021 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Det_TS_TxDxM6I5R0_ModuleId"
             name="Det_TS_TxDxM6I5R0 Module">
    <module id="Det_TS_TxDxM6I5R0"
            label="Det"
            mandatory="false"
            allowMultiple="false"
            description="ACG-Base: AUTOSAR Development Error Tracer module"
            copyright="(c) 2005-2021 Elektrobit Automotive GmbH"
            swVersionMajor="6"
            swVersionMinor="5"
            swVersionPatch="6"
            swVersionSuffix="B439717"
            specVersionMajor="3"
            specVersionMinor="2"
            specVersionPatch="0"
            specVersionSuffix="3"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="Det"
            categoryLayer="System Services"
            categoryCategory="Diagnostic"
            categoryComponent="ECUC">
      <cluster name="Basic Services"/>
<cluster name="Diagnostic"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Det_TS_TxDxM6I5R0_ConfigId"
             name="Det_TS_TxDxM6I5R0 Configuration">
    <configuration moduleId="Det_TS_TxDxM6I5R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Det.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM6I5R0/Det"/>
      </data>

      <editor id="Det_TS_TxDxM6I5R0_EditorId"
              label="Default"
              tooltip="ACG-Base: AUTOSAR Development Error Tracer module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM6I5R0/Det"/>
          <parameter name="title" value="Det"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="Det_TS_TxDxM6I5R0_GeneratorId"
             name="Det_TS_TxDxM6I5R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="Det_TS_TxDxM6I5R0_TemplateBasedCodeGeneratorId"
               moduleId="Det_TS_TxDxM6I5R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>
  <extension point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation
        id="SvcAsReq_Det_TS_TxDxM6I5R0"
        name="Det service needs requests">
      <operationclass plugin="SvcAsLib" class="eb.tresos.svclib.api.pushservice.SvcRequestOperation">
        <parameter name="module" value="Det" />
        <parameter name="req://ecum.initFunctions:1" value="resources/Det_EcuM_InitFunctions.xml" />
      </operationclass>
      <event>
        <and>
          <with variable="class">
            <equals value="eb.tresos.svclib.api.event.SvcRequestsEvent" />
          </with>
          <with variable="svc.type">
            <equals value="request" />
          </with>
          <with variable="ecuConfig.moduleId.Det_TS_TxDxM6I5R0">
            <equals value="true" />
          </with>
          <or>
            <with variable="ecuConfig.relVersion">
              <equals value="4.0" />
            </with>
            <with variable="ecuConfig.relVersion">
              <equals value="0.0" />
            </with>
          </or>
        </and>
      </event>
    </pushoperation>
  </extension>
</plugin>
