<?xml version="1.0" ?>
<?eclipse version="3.2"?>
<plugin>
  <!-- Generator -->
  <extension
    id="BswM_TS_TxDxM1I15R0_Generator"
    point="dreisoft.tresos.generator.api.plugin.generator">
    <generator
      class="dreisoft.tresos.bswm.generator.BswMGenerator"
      id="BswM_TS_TxDxM1I15R0_ModuleGen"
      moduleId="BswM_TS_TxDxM1I15R0">
       <parameter
             name="variantAware"
             value="true">
       </parameter>
    </generator>
  </extension>
  <extension
    point="dreisoft.tresos.datamodel2.api.plugin.xpathregistration">
    <xpathfunction>
       <classregistration
         class="dreisoft.tresos.bswm.xpath.CustomXpathFunctions"
         namespace="asc_bswm">
       </classregistration>
    </xpathfunction>
  </extension>
</plugin>
